.green { 
    grid-area: GREEN;
    background-color: rgb(175, 242, 175);
    padding: 2em 0em 4em 1em;
}
.yellow { 
    grid-area: YELLOW; 
    background-color: rgb(247, 240, 160);
    padding: 2em 0em 4em 2em;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    grid-gap: 1.8em;
    text-align: left;
    margin: 1em 0em 0em 0.5em;
}
.container2 > div{
    background-color: white;
    padding: 0.5em 1em;
    width: 50%;
}
.red { 
    grid-area: RED; 
    background-color: rgb(248, 187, 187);
    padding: 2em 0em 4em 2em;
}
.orange { 
    grid-area: ORANGE;
    background-color: rgb(255, 227, 175);
    padding: 2.5em 0em 4em 2em;
}
.blue { 
    grid-area: BLUE; 
    background-color: rgb(171, 220, 245);
    padding: 2em 5em 2em 2em;
}
.container {
  display: grid;
  grid-template-areas:
    'GREEN GREEN GREEN GREEN GREEN GREEN'
    'YELLOW YELLOW RED RED BLUE BLUE'
    'ORANGE ORANGE ORANGE ORANGE BLUE BLUE';    
  gap: 1.5em;
  width: 47%;
}
